.btn-primary-custom {
  background: var(--primary-color);
  color: white;
  border: none;

  padding: 10px 20px;
  border-radius: 6px;

  font-weight: 500;

  &:hover {
    background: var(--primary-hover);
  }
}